body {
  background-color: background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #642b73, #c6426e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #642b73, #c6426e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info-section {
  position: relative;
  margin-top: 23%;
}
.text-center h1 {
  color: #d3d3d3;
font-family: 'Roboto Slab', serif;
}

.text-center h3 {
  color: #d3d3d3;
  margin-top: 0.00001%;
}

.text-center h4 a {
  color: #63b5cf;
}

.navbar-header button {
  margin-top: 22px;
  float: right;
}

h4 {
  color: #d3d3d3;
  font-family: 'Roboto Mono', monospace;
}

h4 a {
  color: #63b5cf;
  font-family: 'Roboto Mono', monospace;

}
.navbar-header h1 a {
  color: black;
}

.navbar-header h4 a {
  color: black;
}

.navbar-header h1 a:hover {
  text-decoration: none;
}

.navbar-header h4 a:hover {
  color: black;
  text-decoration: none;
}

.navbar li {
  color: #000
}

h3 {
  text-align: center;
  font-weight: bolder;
  color: #d3d3d3;
  font-family: 'Roboto Slab', serif;
}

/* The fast way */

.main-points {

}

.project-section h1 b a  {
   color: inherit;
}

.project-section h3 a  {
   color: inherit;
}

.project-section h1 b a:  {
   color: inherit;
}

.project-section h3 a  {
   color: inherit;
}

.navbar-header {
  background-color: background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #642b73, #c6426e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #642b73, #c6426e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  box-shadow: none;
  margin-bottom: -5px;
}

.navbar-header h1 a {
  color: #d3d3d3;
  font-family: 'Roboto Mono', monospace;

}

.navbar-header h4 a {
  color: #d3d3d3;

}

.icon-bar {
  background: #d3d3d3 !important;

}

/* Media Queries */

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width 575px) {
  project-section {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

  .navbar-default {
    background: #d3d3d3;
  }
  header {
    display: none;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  nav {
    display: none;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .nav {
    display: none;
  }

  .nav h1 {
    display: none;
  }

}
